name: Docker Build and Push

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on:
      group: alioth-runners
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract repository name
        id: extract_repo_name
        run: echo "::set-output name=repo_name::${GITHUB_REPOSITORY##*/}"

      - name: Extract tag name
        if: startsWith(github.ref, 'refs/tags/v')
        id: extract_tag_name
        run: echo "::set-output name=tag_name::${GITHUB_REF#refs/tags/}"

      - name: Build and push nightly
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./dockerfile
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository_owner }}/${{ steps.extract_repo_name.outputs.repo_name }}:nightly

      - name: Build and push release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ steps.extract_repo_name.outputs.repo_name }}:${{ steps.extract_tag_name.outputs.tag_name }}
            ghcr.io/${{ github.repository_owner }}/${{ steps.extract_repo_name.outputs.repo_name }}:latest
